* {
  margin: 0;
  padding: 0;
  font-family: PingFangSC-Regular;
}
body {
  width: 640px;
  overflow-x: hidden;
  position: relative;
  background-color: #6aca43;
}
input::-webkit-input-placeholder {
  color: #9B9B9B;
}
a{
  text-decoration: none;
  display: block;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}

a[title='站长统计']{
  display: none;
}
.container,
.product-container{
  position: relative;
  width: 100%;
  height: 100%;
}
.titleImg{
  background: url("../images/titleImg.png") no-repeat;
  width: 100%;
  height: 540px;
  background-size: 640px 440px;
}
.product-container .titleImg{
  height: 400px;
}

.container .submitBox {
  text-align: center;
}
.container .submitBox p {
  margin: 20px auto;
}
.container .submitBox .inputView input {
  -webkit-appearance: none;
  outline: 0;
  background: #FFFFFF;
  border: 1px solid #979797;
  border-radius: 100px;
  width: 400px;
  padding: 9px 29px;
  margin: 15px;
  font-size: 28px;
  color: #000000;
  font-family: PingFangSC-Regular;
}
.container .submitBox .submitView #submitBtn {
  -webkit-tap-highlight-color: transparent;
  border: none;
  text-align: center;
  cursor: pointer;
  width: 460px;
  border-radius: 100px;
  font-family: PingFangSC-Regular;
  font-size: 32px;
  letter-spacing: 5px;
  height: 60px;
  cursor: pointer;
  color: #696262;
  background: yellow;
  box-shadow: 0 2px 4px 0 yellow;
}
.container .submitBox p:nth-child(3) #submitBtn:hover,
.container .submitBox p:nth-child(3) #submitBtn:active{
  opacity: 0.8;
}
.productTitle {
  position: absolute;
  width: 100%;
}
.productTitle .info {
  position: absolute;
  bottom: 52px;
  font-size: 25px;
  color: #DB1837;
  margin: 0 50px;
}
.ps-title {
  background: url("../images/Bitmap3.png") no-repeat;
  height: 80px;
  line-height: 80px;
  display: block;
  width: 500px;
  position: relative;
  margin: 30px auto;
}
.ps-title p {
  position: absolute;
  left: 157px;
  top: -6px;
  font-size: 28px;
  color: #EFDB8E;
  letter-spacing: 24.6px;
}

.product-container .productSpike {
  margin-top: -35px;
}

.productSpike .ps-product{
  clear: both;
}
.productSpike .ps-product .spikeBox{
  /*background: url("../images/Bitmap11.png") no-repeat;*/
  margin: 30px;
  background-size: 100% 100%;
  display: flex;
  padding: 15px;
  clear: both;
  background-color: #fff;
  border-radius: 10px;

}
.productSpike .ps-product .spikeBox>div {
  float: left;
}
.productSpike .ps-product .ps-p-left {
  margin: 5px 30px 3px 3px;
}
.productSpike .ps-product .ps-p-left img {
  width: 270px;
  height: auto;
}
.productSpike .ps-product .ps-p-right div:nth-child(1) {
  font-family: PingFangSC-Semibold;
  font-size: 26px;
  color: #DB1837;
  height: 80px;
}
.productSpike .ps-product .ps-p-right div:nth-child(2) {
  height: 145px;
}

.productSpike .ps-product .ps-p-right div:nth-child(2) p:nth-child(1),
.container .productSpike .ps-product .ps-p-right div:nth-child(2){
  font-family: PingFangSC-Medium;
  font-size: 24px;
  color: #4A4A4A;
}

.productSpike .ps-product .ps-p-right div:nth-child(2) p:nth-child(1) span,
.container .productSpike .ps-product .ps-p-right div:nth-child(2) span{
  font-family: PingFangSC-Semibold;
  font-size: 64px;
  color: #DB1837;
}

.productSpike .ps-product .ps-p-right div:nth-child(2) p:nth-child(2){
  font-family: PingFangSC-Regular;
  font-size: 16px;
  color: #4A4A4A;
  margin-top: -12px;
}
.productSpike .ps-product .ps-p-right div:nth-child(3) {
  background: url("../images/Bitmap4.png") no-repeat;
  background-size: cover;
  height: 46px;
  line-height: 46px;
  width: 200px;
  text-align: center;

}
.productSpike .ps-product .ps-p-right div:nth-child(3) span {
  font-family: PingFangSC-Regular;
  font-size: 26px;
  color: #EFDB8E;
  letter-spacing: 2px;
}
.productListWrapper {
  width: 100%;
  display: inline-block;
  padding-bottom: 30px;
}
.productList{
  display: inline-block;
  clear: both;
  width: 100%;
}
.productList .list:nth-child(2n+1) {
  margin-left: 30px;
  margin-right: 12px;
}
.productList .list:nth-child(2n+2) {
  margin-left: 12px;
  margin-right: 30px;
}
.productList .list {
  width: 43.4%;
  float: left;
  margin-top: 16px;
  margin-bottom: 16px;
  /*background: url("../images/Bitmap12.png") no-repeat;*/
  /*background-size: cover;*/
  background-color: #fff;
  border-radius: 6px;
}
.productList .list .list-a{
  display: block;
  padding: 10px;
}
.productList .list  p:nth-child(1) {
  text-align: center;
  margin-top: 10px;
}
.productList .list  p:nth-child(1) img {
  width: 230px;
  height: 230px;
}
.productList .list  p:nth-child(2) {
  font-family: PingFangSC-Semibold;
  font-size: 26px;
  color: #DB1837;
  letter-spacing: 0;
  line-height: 32px;
  height: 64px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin: 0 15px;

}
.productList .list  p:nth-child(3) {
  font-family: PingFangSC-Medium;
  font-size: 20px;
  color: #DB1837;
  letter-spacing: 0;
  text-align: center;
  padding: 5px 0 22px 0;
  text-align: center;
}
.productList .list  p:nth-child(3) span {
  font-family: PingFangSC-Semibold;
  font-size: 42px;
  color: #DB1837;
}
.productList .list  p:nth-child(4) {
  background: url("../images/Bitmap5.png") no-repeat;
  background-size: cover;
  text-align: center;
  height: 46px;
  line-height: 46px;
  width: 220px;
  margin-left: 20px;
  margin-bottom: 5px;
}

.productList .list  p:nth-child(4) span {
  font-family: PingFangSC-Regular;
  font-size: 26px;
  color: #EFDB8E;
}

.product-container .productList .list  p:nth-child(4) .shopIcon{
  display: inline-block;
  background: url("../images/shopIcon.png") no-repeat;
  width: 30px;
  height: 30px;
  background-size: cover;
  margin: -10px 5px 0 0;
  vertical-align: middle;

}
.model {
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
}
.model div {
  position: absolute;
  right: 45px;
  top: 45px;
}
.model div img {
  float: right;
}
.model div p {
  font-family: PingFangSC-Semibold;
  font-size: 36px;
  color: #FFFFFF;
  text-align: center;
  margin-top: 120px;
}
.activityNotes{
  margin-top: -30px;

}
.activityNotes .info{
  font-family: PingFangSC-Regular;
  font-size: 24px;
  color: #DB1837;
  width: 530px;
  background: #FFFFFF;
  border-radius: 8px;
  padding: 20px 30px;
}
.container .activityNotes .info{
  margin: 90px auto;
}
.activityNotes .info p{
  padding: 8px 0;
}
.product-container .activityNotes .info{
  margin: 100px auto;
}